.card{ background-color: pink;
    padding: 40px;
    border: 30px solid border;
    border-radius: 25px;
    margin: 20px
}
.profile-img{ width: 100px;
    height: 100px; ;
    border-radius: 50%;
    object-fit: cover;

}